@font-face {
    font-family: fa-solid;
    src: url("/fonts/font-awesome/fa-solid-900.ttf");
}

@font-face {
    font-family: fa-brands;
    src: url("/fonts/font-awesome/fa-brands-400.ttf");
}

@font-face {
    font-family: fa-regular;
    src: url("/fonts/font-awesome/fa-regular-400.ttf");
}

body {
    background-color: rgb(255, 145, 0);
}

canvas {
    display: block;
    margin: 0;
    outline: 1px solid black;
    background-color: white;
}

.imgs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px
}

img {
    width: 100%;
}

.hide {
    display: none;
}

.main-content {
    background-color: grey;
}

.tools-show {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

button {
    width: fit-content;
    justify-self: center;
    align-items: center;

}

.canvas-container {
    position: relative;
}


.fa-brands::before {
    font-family: fa-brands;
}

.fa-solid::before {
    font-family: fa-solid;
}

.fa-regular::before {
    font-family: fa-regular;
}

button.align-right::before {
    content: "\f038";
}

button.align-left::before {
    content: "\f036";
}

button.up-down::before {
    content: "\f338";
}

/* button.font-plus::before {
    content: "\f038";
}

button.font-minus::before {
    content: "\f038";
}

button.align-right::before {
    content: "\f038";
} */


p.text {
    position: absolute;
    background-color: none;
}

.flex {
    display: flex;
}